.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .grid {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 95vw;
  }
}

.tab-content {
  height: 205px;
}
.res-div {
  background-color: #fafafa;
}
[data-bs-theme="dark"] .res-div {
  background-color: #282c34;
  border: none !important;
}

#res-json-div {
  height: 100%;
}
#res-json-div pre {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.radios .form-check,
.radios .form-check input,
.radios .form-check label {
  cursor: pointer;
  user-select: none;
}
