/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
  border: 1px solid #e3e6ea;
  border-radius: 8px;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

[data-bs-theme="dark"] .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
  border: 1px solid #434a50;
  border-radius: 8px;
}

[data-bs-theme="dark"] .hljs-comment,
[data-bs-theme="dark"] .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

[data-bs-theme="dark"] .hljs-doctag,
[data-bs-theme="dark"] .hljs-keyword,
[data-bs-theme="dark"] .hljs-formula {
  color: #c678dd;
}

[data-bs-theme="dark"] [data-bs-theme="dark"] .hljs-section,
[data-bs-theme="dark"] .hljs-name,
[data-bs-theme="dark"] .hljs-selector-tag,
[data-bs-theme="dark"] .hljs-deletion,
[data-bs-theme="dark"] .hljs-subst {
  color: #e06c75;
}

[data-bs-theme="dark"] .hljs-literal {
  color: #56b6c2;
}

[data-bs-theme="dark"] .hljs-string,
[data-bs-theme="dark"] .hljs-regexp,
[data-bs-theme="dark"] .hljs-addition,
[data-bs-theme="dark"] .hljs-attribute,
[data-bs-theme="dark"] .hljs-meta-string {
  color: #98c379;
}

[data-bs-theme="dark"] [data-bs-theme="dark"] .hljs-built_in,
[data-bs-theme="dark"] .hljs-class .hljs-title {
  color: #e6c07b;
}

[data-bs-theme="dark"] .hljs-attr,
[data-bs-theme="dark"] .hljs-variable,
[data-bs-theme="dark"] .hljs-template-variable,
[data-bs-theme="dark"] .hljs-type,
[data-bs-theme="dark"] .hljs-selector-class,
[data-bs-theme="dark"] .hljs-selector-attr,
[data-bs-theme="dark"] .hljs-selector-pseudo,
[data-bs-theme="dark"] .hljs-number {
  color: #d19a66;
}

[data-bs-theme="dark"] .hljs-symbol,
[data-bs-theme="dark"] .hljs-bullet,
[data-bs-theme="dark"] .hljs-link,
[data-bs-theme="dark"] .hljs-meta,
[data-bs-theme="dark"] .hljs-selector-id,
[data-bs-theme="dark"] .hljs-title {
  color: #61aeee;
}

[data-bs-theme="dark"] .hljs-emphasis {
  font-style: italic;
}

[data-bs-theme="dark"] .hljs-strong {
  font-weight: bold;
}

[data-bs-theme="dark"] .hljs-link {
  text-decoration: underline;
}
