:deep() {
  --panic-color: #ff5733;
  --alert-color: #ffa733;
  --error-color: #ff5733;
  --warning-color: #ffc733;
  --notice-color: #2fcc93;
  --info-color: #33a5ff;
  --debug-color: #a533ff;
}

:deep(#panic) {
  color: var(--panic-color);
}
:deep(#alert) {
  color: var(--alert-color);
}
:deep(#error) {
  color: var(--error-color);
}
:deep(#warning) {
  color: var(--warning-color);
}
:deep(#notice) {
  color: var(--notice-color);
}
:deep(#info) {
  color: var(--info-color);
}
:deep(#debug) {
  color: var(--debug-color);
}

/* For dark mode */
[data-bs-theme="dark"] * {
  :deep() {
    --panic-color: #ff8844;
    --alert-color: #ffc266;
    --error-color: #ff8844;
    --warning-color: #ffcc66;
    --notice-color: #44ffd6;
    --info-color: #44a2ff;
    --debug-color: #b944ff;
  }
}
