.home {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
}

.title {
    text-align: center;
    margin-top: 15px;
}

.motto {
    text-align: center;
    margin-top: 15px;
}

.tools {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
    width: 97.5vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.tools .tool {
    padding: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}


.tools .tool .image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.tools .tool .icon {
    font-size: 100px;
}

.tools .tool h4 {
    text-align: center;
    text-transform: capitalize;
    margin-top: 5px;
}