.block {
    height: 90%;
    width: 90%;
}

.block .input.fullWidth {
    height: 100%;
    width: 100%;
}

.block .input {
    width: 100% !important;
}

.block .label {
    color: #000 !important;
}

.block .input .copy-icon {
    pointer-events: auto !important;
}

.textarea-icon {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.file-icon {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    border: 1px dashed #000;
    cursor: pointer;
}

.img {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 1px dashed #000;
}

.file-options {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.file-options label {
    flex-grow: 1;
}

.file-options .btn {
    padding: 0 10px;
    width: fit-content;
}

.file-options .btn:nth-child(1) {
    padding: 0 10px 0 0;
}

@media screen and (max-width: 800px) {
    .block .input.fullWidth {
        height: 300px;
    }

    .block {
        height: fit-content;
        margin-bottom: 15px;
        width: 100%;
    }
}