.main {
    display: flex;
    min-height: 100vh;
}

.main .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    justify-items: center;
    padding-top: 25px;
}

@media screen and (max-width: 800px) {
    .main .content {
        margin-top: 65px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        display: block;
        width: 95vw;
    }
}