.main {
  display: flex;
  min-height: 100vh;
}

.main .content {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 20px;
}

.loading p {
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .main .content {
    margin-top: 65px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 95vw;
  }
}
