label {
  font-size: medium;
  align-items: start;
}

.inner_input_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
  gap: 5px;
}

.toggler {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
