/* global styles */

span.mdc-text-field__resizer {
  pointer-events: none !important;
}

span.mdc-text-field__resizer textarea {
  pointer-events: auto !important;
}

button.mdc-top-app-bar__navigation-icon {
  color: #000 !important;
}

.mono-font {
  font-family: monospace;
}
