#textInput {
  height: 72vh;
}

@media screen and (max-width: 800px) {
  #textInput {
    height: 40vh;
  }
}
.single-line-group {
  display: flex;
  align-items: center; /* Align vertically */
  gap: 8px; /* Provide a gap between items */
}
.single-line-group strong {
  margin-right: 10px; /* Provide spacing after the <strong> tag */
}
